body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 300px;
}

#skill-selection, #preference-selection {
    margin-bottom: 20px;
}

h3, h4 {
    color: #444;
}

#main-skills, #suggested-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.skill-checkbox {
    display: none;
}

label {
    display: inline-flex;
    align-items: center;
    background: rgba(0, 123, 255, 0.2);
    border: 2px solid rgba(0, 123, 255, 0.4);
    color: #0056b3;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

label:hover {
    background: rgba(0, 123, 255, 0.4);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}
