<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Counseling App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homecss.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Find the Right Tech Career for You</h1>
            <p>Discover tech roles that align with your skills, preferences, and goals. Get personalized career recommendations with just a few clicks.</p>
            <a href="/keywords" class="cta-button">Get Started</a>
        </div>
    </div>
</body>
</html>
